<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <title>EncryptData</title>
</head>

<body>
    <!-- component -->
    <div class="bg-black text-white flex min-h-screen flex-col items-center pt-16 sm:justify-center sm:pt-0">
        <a href="#">
            <div class="text-foreground font-semibold text-2xl tracking-tighter mx-auto flex items-center gap-2">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672Zm-7.518-.267A8.25 8.25 0 1 1 20.25 10.5M8.288 14.212A5.25 5.25 0 1 1 17.25 10.5" />
                    </svg>
                </div>
                All Goes Encrypted
            </div>
        </a>
        <div class="relative mt-12 w-full max-w-lg ">

            <div
                class="mx-5 border dark:border-b-white/50 dark:border-t-white/50 border-b-white/20 sm:border-t-white/20 shadow-[20px_0_20px_20px] shadow-slate-500/10 dark:shadow-white/20 rounded-lg border-white/20 border-l-white/20 border-r-white/20 sm:shadow-sm lg:rounded-xl lg:shadow-none">
                <div class="flex flex-col p-6">
                    <h3 class="text-xl font-semibold leading-6 tracking-tighter">Simple Stupid Form</h3>

                </div>
                <div class="p-6 pt-0">
                    <form method="post">
                        {%csrf_token%}

                        <div>
                            <div>
                                <div
                                    class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30">
                                    <div class="flex justify-between">
                                        <label
                                            class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400">First
                                            Name</label>
                                    </div>
                                    <input type="text" required name="first_name" placeholder="John" autocomplete="off"
                                        class="block w-full border-0 bg-transparent p-0 text-sm file:my-1 file:rounded-full file:border-0 file:bg-accent file:px-4 file:py-2 file:font-medium placeholder:text-muted-foreground/90 focus:outline-none focus:ring-0 sm:leading-7 text-foreground"
                                        id="first_name">
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div>
                                <div
                                    class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30">
                                    <div class="flex justify-between">
                                        <label
                                            class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400">Last
                                            Name</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input type="text" required name="last_name" placeholder="Doe"
                                            class="block w-full border-0 bg-transparent p-0 text-sm file:my-1 placeholder:text-muted-foreground/90 focus:outline-none focus:ring-0 focus:ring-teal-500 sm:leading-7 text-foreground">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 flex items-center justify-end gap-x-2">

                            <button
                                class="font-semibold hover:bg-black hover:text-white hover:ring hover:ring-white transition duration-300 inline-flex items-center justify-center rounded-md text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-white text-black h-10 px-4 py-2"
                                type="submit">Enter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class=" bg-black text-white sm:justify-center font-semibold text-2xl tracking-tighter flex items-center pb-4">
        
        Encrypted Data Fetch
    </div>


    <div class="bg-black text-black flex min-h-screen flex-col items-center  ">
        <div
            class="mx-5 border dark:border-b-white/50 dark:border-t-white/50 border-b-white/20 sm:border-t-white/20 shadow-[20px_0_20px_20px] shadow-slate-500/10 dark:shadow-white/20 rounded-lg border-white/20 border-l-white/20 border-r-white/20 sm:shadow-sm lg:rounded-xl lg:shadow-none">
            <table>
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col"
                            class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400 px-6 py-3">
                            Data Id
                        </th>
                        <th scope="col"
                            class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400 px-6 py-3">
                            First Name
                        </th>
                        <th scope="col"
                            class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400 px-6 py-3">
                            Last Name
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in Data %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ forloop.counter }}
                        </th>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ i.first_name}}
                        </td>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ i.last_name}}
                        </td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</body>

</html>